/* all site */
:root {
    --primary-text-color: #757575;
    --primary-white-color: #fff;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --button-background: #F5F4FA;
    --hero-letter-spacing: 0.06em;
    --font-size-14: 14px;
    --font-size-36: 36px;
}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

/* button */

.button {
    font-size: 16px;
    color: #212121;
    background-color: var(--button-background);
    border: none;
    padding: 0.5rem 1.5rem; /* Поля вокруг текста */
    margin-bottom: 0; /* Отступ снизу */ 
    border-radius: 4px;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.hero .button {
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    margin-bottom: 0; /* Отступ снизу */ 
}

/* logo */
.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
}

.logo:hover,
.logo:focus {
    color: var(--title-text-color);
}

.logo-web,
.logo-web:hover,
.logo-web:focus {
    color: var(--accent-color);
}

/* logo footer */
footer .logo,
footer .logo:hover,
footer .logo:focus {
    color: #ffffff;
}

/* header */
header .list {
    list-style: none;
    letter-spacing: 0.02em;
}

/* header nav */
.nav .link {
    color: var(--title-text-color);
    font-size: var(--font-size-14);
}

.nav .link:hover,
.nav .link:focus {
    color: var(--accent-color);
}

.nav .link.current {
    color: var(--accent-color);
}

/* header contacts */
.contact .link {
    color: var(--primary-text-color);
    font-size: var(--font-size-14);
}

.contact .link:hover,
.contact .link:focus {
    color: var(--accent-color);
}

/* footer */
footer .list {
    list-style: none;
}

/* footer address */
.footer-address a {
    font-size: var(--font-size-14);
}

.footer-address .location {
    color: #ffffff;
}

.footer-address .email,
.footer-address .tel {
    color: rgb(255,255,255,60);
}

/* body */
section > .list {
    list-style: none;
}

.title {
    color: var(--title-text-color);
}

.text {
    color: var(--primary-text-color);
}

/* index.html */
/* body hero */
.hero,
.hero .button {
    letter-spacing: var(--hero-letter-spacing);
}

.hero .title {
    font-size: 44px;
}

/* body features */
.features-list .title {
    font-size: var(--font-size-14);
    text-transform: uppercase;
}

.features-list .text {
    font-size: var(--font-size-14);
}


/* body specialization */
.specialization .specialization-title {
    font-size: var(--font-size-36);
}
/* body team */
.team-list .text,
.team-list .title {
    font-size: 16px;
}

.team .team-title {
    font-size: var(--font-size-36);
}

/* portfolio.html */
.portfolio-list .title {
    font-size: 18px;
}

.portfolio-list .text {
    font-size: 16px;
}

/* portfolio */
.portfolio .title {
    letter-spacing: var(--hero-letter-spacing);
}